<form action="/checkout" method="post">
  <label>Purchase an Item</label>
  <input type="text" name="item" id="item" placeholder="Item Name"/> </label></h4>
  <input type="submit" value="submit" />
</form>
